<ion-header>
  <ion-toolbar>
    <ion-title>Error 404</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="error-container">
    <!-- Imagen de error -->
    <img src="assets/icon/Error404.png" alt="Error 404" class="app-logo">

    <!-- Mensaje de error -->
    <h1 class="error-message">Página no encontrada</h1>

    <!-- Botón con flecha para volver al login -->
    <ion-button expand="full" routerLink="/home">
      <ion-icon slot="start" name="arrow-back"></ion-icon>
      Volver al Home 
    </ion-button>
  </div>
</ion-content>
